# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/.vinext/
/out/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

/dist/
/.wrangler/
/outputs/
/work/
